app = 'betcerta'
primary_region = 'gru'

[build]
  [build.args]
    VITE_SUPABASE_URL = ""
    VITE_SUPABASE_ANON_KEY = ""

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    soft_limit = 10
    hard_limit = 20

  [[http_service.checks]]
    interval = '10s'
    timeout = '5s'
    grace_period = '15s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
