app = "greenscreen-bet-generator"
primary_region = "gru"

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[vm]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
